* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f0f0;
     font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
     font-style: normal;
}


header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.education {
    background-color: #4e4a4a;
    margin-bottom: 20px;
    padding-top: 1px;


}

.education h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    transition: color 0.3s ease, transform 0.3s ease;
}
.recreation {
    background-color: #4e4a4a;
    padding-top: 1px;
    margin-bottom: 20px;
}

.recreation h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    transition: color 0.3s ease, transform 0.3s ease;
}
.salud {
    background-color: #4e4a4a;
    padding-top: 1px;
    margin-bottom: 20px;
}

.salud h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    transition: color 0.3s ease, transform 0.3s ease;
}

header img {
    max-width: 100%;
    height: auto;
}

.opciones {
    background-color: #f2f2f2;
    padding: 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    

}

.menu li {
    margin: 0 50px;

}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: #0b0b0b;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
   
    
}

.menu a:hover {    
    background-color: #ae404025;
    color: #181717;
    border-radius: 30px;
    transform: scale(1.2);
}

img {
    border-radius: 50px;
    box-shadow: 5px 5px 15px #888;
    transition: transform 0.3s ease;
    opacity: 0.8;
    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease; 
}
img:hover {
    filter: grayscale(0%);
    transform: translateY(-10px) scale(1.05) rotate(5deg);
    box-shadow: 0 10px 20px #999;

}

.education h2:hover,
.recreation h2:hover,
.salud h2:hover {
    color:#f2c6c6;
    transform: scale(1.25);
    
}